<!DOCTYPE html>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <form class="create-form">
            <div class="form-group">
                <label>Search Ingredient:</label>
                <input type="text" id="user-input">
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="ingredient-1">Search For Recipes</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12" id="recipe-area">
    </div>
</div>
<div id="result"></div>
<script src="../../public/js/searchRecipe.js" type="application/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>